[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pyyaml = "*"
openai = "*"
marshmallow = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.5"

[scripts]
up = "streamlit run app.py"
